.padding {
  text-align: center;
}

.padding div {
  padding: 10px;
}

.auctions-sliders-info{
  color:black;
}

.carousel-control-prev, .carousel-control-next 
.carousel-control-prev-icon, .carousel-control-next-icon{
  display: none !important; 
  visibility: hidden;
}