<div class="padding">
  <div class="row">
    <div class="col-12">
      <p>Aukcije na Internetu - pronaći ćeš sve o čemu si sanjao. Nema lakšeg načina kupovine i prodaje na Internetu.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><b>Najnovije postavljene aukcije</b></p>
    </div>
    <div class="col-6">
      <p><b>Aukcije koje uskoro ističu</b></p>
    </div>
    <div class="col-6">
      TODO 4: Carousel za najnovije postavljene aukcije
    </div>
    <div class="col-6">
      TODO 5: Carousel za aukcije koje uskoro ističu
    </div>
  </div>
</div>