<div class="padding">
  <div class="row">
    <div class="col-12">
      <p>Aukcije na Internetu - pronaći ćeš sve o čemu si sanjao. Nema lakšeg načina kupovine i prodaje na Internetu.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><b>Najnovije postavljene aukcije</b></p>
    </div>
    <div class="col-6">
      <p><b>Aukcije koje uskoro ističu</b></p>
    </div>
    <div class="col-6">
        <ngb-carousel *ngIf="newestAuctions != []">
            <ng-template ngbSlide *ngFor="let newestAuction of newestAuctions">
                <img src="assets/images/items/{{newestAuction.image}}" alt="Random first slide">
                <div class="carousel-caption">
                   <h3 class="auctions-sliders-info"><b>{{newestAuction.name}}</b></h3>
                   <p class="auctions-sliders-info"><b>Cena: {{newestAuction.price}},00 din.</b></p>
                   <p class="margin-right auctions-sliders-info"><b>Datum zatvaranja: {{newestAuction.dateEnd | date: "H:mm, y.MM.d"}}</b></p>  
                </div>
            </ng-template> 
        </ngb-carousel>
    </div>
    <div class="col-6">
        <ngb-carousel *ngIf="oldestAuctions != []">
            <ng-template ngbSlide *ngFor="let oldestAuction of oldestAuctions">
                <img src="assets/images/items/{{oldestAuction.image}}" alt="Random first slide">
                <div class="carousel-caption">
                  <h3 class="auctions-sliders-info"><b>{{oldestAuction.name}}</b></h3>
                  <p class="auctions-sliders-info"><b>Cena: {{oldestAuction.price}},00 din.</b></p>
                  <p class="margin-right auctions-sliders-info"><b>Datum zatvaranja: {{oldestAuction.dateEnd | date: "H:mm, y.MM.d"}}</b></p>  
                </div>
            </ng-template> 
         </ngb-carousel>
    </div>  
  </div>
</div>
